<link rel="stylesheet" href="/css/dashboard/clientes.css">
<link rel="stylesheet" href="/css/dashboard/checkbox.css">
    <css></css>
<div class="head-title">
    <h2>Esses são os clientes cadastrados em seu sistema</h2>
</div>
<div class="table-user">
    <div class="search-user">
        <form action="/painel/clientes" method="GET" class="form-control">
            <i class="fas fa-search icon-search"></i>
            <input 
                type="text" 
                name="q" 
                class="input-dat"
                spellcheck="false"
            >
        </form>
    </div>
    <table>
        <tr class="head-line">
            <td>
                Nome
            </td>
            <td>
               Sobrenome
            </td>
            <td>
                Idade
            </td>
            <td>
                Cel
            </td>
            <td>
                Email
            </td>
        </tr>
        {{#each clients}}
            <tr class="body-line">
                <td>
                    <span class="cel-table">{{name}}</span>
                </td>
                <td>
                    <span class="cel-table">{{surname}}</span>
                </td>
                <td>
                    <span class="cel-table">{{birthday}}</span>
                </td>
                <td>
                    <span class="cel-table">{{cel}}</span>
                </td>
                <td>
                    <span class="cel-table">{{email}}</span>
                </td>
                <td class="check-sy">
                    <label class="control control-checkbox">
                        <input type="checkbox" class="checkUser" />
                        <div class="control_indicator"></div>
                    </label>
                </td>
            </tr>
        {{/each}}
    </table>
</div>